{% set grid_size = theme_var('grid-size') %}
{% if header_var('image', [page, text]) %}
	{% set image = page.find('/images').media[header_var('image', [page, text])] %}
{% else %}
	{% set image = page.media.images|first %}
{% endif %}

<section class="section modular-text {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-6 col-md-12">
                {{ content|raw }}
            </div>
            <div class="column col-6 col-md-12">
                {{ image.html|raw }}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
    </section>
</section>
